<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

    <section name="EApp" type="EApp.Core.Configuration.EAppConfigurationSection, EApp.Core"/>

    <section name="EAppData" type="EApp.Data.Configuration.EAppDataConfigurationSection, EApp.Data"/>
    
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>

  </configSections>

  <EApp>

    <application provider="EApp.Core.Application.App, EApp.Core" />
    
    <objectContainer provider="EApp.Core.IoC.UnityObjectContainerFactory, EApp.Core" initFromConfigFile="true" sectionName="unity" />

    <logger provider="" />

    <cacheManagers default="Redis">

      <cacheManager name="Redis" type="EApp.Common.Cache.RedisManager, EApp.Common"/>

      <cacheManager name="Memcache" type="EApp.Common.Cache.MemcacheManager, EApp.Common"/>

    </cacheManagers>

    <serializationFormats default="Json">
      
      <format name="XML" type="EApp.Common.Serialization.ObjectXmlSerializer, EApp.Common" />
      
      <format name="Json" type="EApp.Common.Serialization.ObjectJsonSerializer, EApp.Common" />
      
    </serializationFormats>

    <redis writeHosts="127.0.0.1:6379" readOnlyHosts="127.0.0.1:6379" maxWritePoolSize="60"
           maxReadPoolSize="60" autoStart="true" timeOutSeconds="3600" >
    </redis>

    <handlers>
      <handler name="PostPublishCommand" type="Xpress.Chat.Commands.PostPublishCommandHandler, Xpress.Chat.Commands" kind="Command"/>
    </handlers>
    
  </EApp>

  <EAppData>
    
    <entityMappings>
    
      <add name="ExpressLife" file="C:\\MyProjects\\GitHub WorkSpace\\EApp\\EntityMappingConfig.xml" />

    </entityMappings>
    
  </EAppData>

  <connectionStrings>

    <clear/>

    <add name="SqlServer"
         providerName="EApp.Data.SqlServer.SqlServerDbProvider, EApp.Data"
         connectionString="server=localhost\OSPTTEST;database=EXPRESSLIFE;User ID=sa;Password=3Edcvfr4567ujmnb"/>

    <add name="MySql"
     providerName="EApp.Data.MySql.MySqlDbProvider, EApp.Data"
     connectionString="User ID=root;Password=myPassword;Host=localhost;Port=3306;Database=myDataBase; Direct=true;Protocol=TCP;Compress=false;Pooling=true;Min Pool Size=0;Max Pool Size=100;Connection Lifetime=0;"/>

  </connectionStrings>

  <unity>
    <container>
      <register type="EApp.Domain.Core.Commands.ICommandHandlerProvider, EApp.Domain.Core" mapTo="EApp.Domain.Core.Commands.ConfigSourceCommandHandlerProvider, EApp.Domain.Core">
        <lifetime type="external" />
      </register>
      <register type="EApp.Domain.Core.Commands.ICommandDispatcher, EApp.Domain.Core" mapTo="EApp.Domain.Core.Commands.CommandDispatcher, EApp.Domain.Core">
        <lifetime type="singleton" />
      </register>
      <register type="EApp.Domain.Core.Bus.ICommandBus, EApp.Domain.Core" mapTo="EApp.Domain.Core.Bus.CommandBus, EApp.Domain.Core"></register>
      <register type="Xpress.Chat.ServiceContracts.IPostCommandService, Xpress.Chat.ServiceContracts" mapTo="Xpress.Chat.Application.PostCommandService, Xpress.Chat.Application"></register>
      <register type="EApp.Domain.Core.Repositories.IRepositoryContext, EApp.Domain.Core" mapTo="EApp.Repositories.SQL.SqlRepositoryContext, EApp.Repositories.SQL">
        <lifetime type="external" />
      </register>
      <register type="Xpress.Chat.Domain.Repositories.ITopicRepository, Xpress.Chat.Domain" mapTo="Xpress.Chat.Repositories.TopicRepository, Xpress.Chat.Repositories" />
      <register type="Xpress.Chat.Domain.Repositories.IUserRepository, Xpress.Chat.Domain" mapTo="Xpress.Chat.Repositories.UserRepository, Xpress.Chat.Repositories" />
      <register type="Xpress.Chat.Domain.Repositories.IPostRepository, Xpress.Chat.Domain" mapTo="Xpress.Chat.Repositories.PostRepository, Xpress.Chat.Repositories">
        <lifetime type="external" />
      </register>
      <register type="Xpress.Chat.Domain.Repositories.ICommentRepository, Xpress.Chat.Domain" mapTo="Xpress.Chat.Repositories.CommentRepository, Xpress.Chat.Repositories" />
      <register type="Xpress.Chat.Domain.Services.IDomainService, Xpress.Chat.Domain" mapTo="Xpress.Chat.Domain.Services.DomainService, Xpress.Chat.Domain" />
      <register type="Xpress.Chat.ServiceContracts.IPostService, Xpress.Chat.ServiceContracts" mapTo="Xpress.Chat.Application.PostService, Xpress.Chat.Application" />
      <register type="EApp.Domain.Core.Events.IDomainEventHandler`1[[Xpress.Chat.Domain.Events.PostDomainEvent, Xpress.Chat.Domain]], EApp.Domain.Core" mapTo="Xpress.Chat.Domain.Events.PostDomainEventHandler, Xpress.Chat.Domain"></register>
    </container>
  </unity>

</configuration>