<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="EApp" type="EApp.Core.Configuration.EAppConfigurationSection, EApp.Core"/>
  </configSections>

  <EApp>

    <application provider="EApp.Core.Application.App, EApp.Core" />

    <objectContainer provider="EApp.Common.IOC.Unity.UnityObjectContainerFactory, EApp.Common" />
    
    <logger provider=""/>

    <pluginContainer>

      <host provider="Xpress.UI.XpressModulePluginHost, Xpress.UI">
        
        <serviceProvider provider="Xpress.UI.XpressAppNav, Xpress.UI"/>

        <pluginProvider provider="Xpress.Core.Plugin.XpressModulePluginProvider, Xpress.Core"/>
        
      </host>

      <pluginRegisters>

        <register name="Purchase" type="Xpress.UI.Plugins.Cost.UCCostPurchase, Xpress.UI.Plugins"/>
        <register name="Lease" type="Xpress.UI.Plugins.Cost.UCCostLease, Xpress.UI.Plugins"/>
        <register name="Maintenance" type="Xpress.UI.Plugins.Cost.UCCostMaintenance, Xpress.UI.Plugins"/>
        <register name="HR" type="Xpress.UI.Plugins.Cost.UCCostHR, Xpress.UI.Plugins"/>
        <register name="Labor" type="Xpress.UI.Plugins.Cost.UCCostLabor, Xpress.UI.Plugins"/>
        <register name="Standard Service" type="Xpress.UI.Plugins.Cost.UCCostStandardService, Xpress.UI.Plugins"/>

        <register name="Add New Cost" type="Xpress.UI.Plugins.Cost.CostAddNewAction, Xpress.UI.Plugins"/>

        <register name="Direct Pricing" type="Xpress.UI.Plugins.Price.UCDirectPricing, Xpress.UI.Plugins"/>
        
        <register name="Non-Standard Payment" type="Xpress.UI.Plugins.Price.UCNonStandardPayment, Xpress.UI.Plugins"/>

        <register name="Add Direct Pricing" type="Xpress.UI.Plugins.Price.AddNewDirectPricingAction, Xpress.UI.Plugins"/>

        <register name="Add Non-Standard Payment" type="Xpress.UI.Plugins.Price.AddNewNonStandardPaymentAction, Xpress.UI.Plugins"/>

      </pluginRegisters>
    
    </pluginContainer>

    <resources>
      <resource name="Common" type="Xpress.Resources.CommonResourceManager, Xpress.Resources"/>
      <resource name="Plugin" type="Xpress.UI.Plugins.PluginResourceManager, Xpress.UI.Plugins"/>
    </resources>
    
    <miscSettings>
      
      <add key="Purchase" value="Xpress.Core.Logic.PurchaseCostManager, Xpress.Core"/>
      <add key="PurchaseCostLineItem" value="Xpress.Core.Logic.PurchaseCostManager, Xpress.Core"/>

      <add key="Lease" value="Xpress.Core.Logic.LeaseCostManager, Xpress.Core"/>
      <add key="LeaseCostLineItem" value="Xpress.Core.Logic.LeaseCostManager, Xpress.Core"/>

      <add key="Maintenance" value="Xpress.Core.Logic.MaintenanceCostManager, Xpress.Core"/>
      <add key="MaintenanceCostLineItem" value="Xpress.Core.Logic.MaintenanceCostManager, Xpress.Core"/>

      <add key="Labor" value="Xpress.Core.Logic.LaborCostManager, Xpress.Core"/>
      <add key="LaborCostLineItem" value="Xpress.Core.Logic.LaborCostManager, Xpress.Core"/>
      
      <add key="HR" value="Xpress.Core.Logic.HRCostManager, Xpress.Core"/>
      <add key="HRCostLineItem" value="Xpress.Core.Logic.HRCostManager, Xpress.Core"/>
      
      <add key="StandardService" value="Xpress.Core.Logic.StandardServiceCostManager, Xpress.Core"/>
      <add key="StandardServiceCostLineItem" value="Xpress.Core.Logic.StandardServiceCostManager, Xpress.Core" />
      
    </miscSettings>

  </EApp>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
