@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">

            <textarea id="messageBox">


            
            </textarea>

            <div>
            
            </div>

        </div>
    </section>
}
<h3>We suggest the following:</h3>

