@model Xpress.Chat.DataObjects.PostDataObject

<div>

    <div>
        <label>Author: </label><a>@Model.Author.Name</a>
    </div>

    <div>
        <label>Content: </label>
        <p>@Model.Content</p>
    </div>

</div>


@*@section postDetail {

    <div>

        <div>
            <label>Author: </label><a>@Model.Author.Name</a>
        </div>

        <div>
            <label>Content: </label>
            <p>@Model.Content</p>
        </div>

    </div>

}*@