<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="EApp" type="EApp.Core.Configuration.EAppConfigurationSection, EApp.Core"/>
  </configSections>
  <EApp>
    
    <application provider="EApp.Core.Application.App, EApp.Core" />

    <objectContainer provider="EApp.Common.IOC.Unity.UnityObjectContainerFactory, EApp.Common" />

    <logger provider=""/>
    
    <windowsMvc>
      
      <controllers>
        
        <controller name="Cost" type="Xpress.Mvc.Controllers.CostController, Xpress.Mvc"/>
        
      </controllers>
      
    </windowsMvc>

    <serializationFormats default="Json">
      
      <format name="XML" type=""/>
      
      <format name="Json" type=""/>
      
    </serializationFormats>

  </EApp>

  <connectionStrings>
    
    <add name="SqlServer" 
         providerName="EApp.Common.DataAccess.MSSQL.SqlServerDbProvider, EApp.Common" 
         connectionString="server=localhost\OSPTTEST;database=EXPRESSLIFE;User ID=sa;Password=3Edcvfr4567ujmnb"/>

    <add name="MySql"
     providerName="EApp.Common.DataAccess.MySQL.MySqlDbProvider, EApp.Common"
     connectionString="User ID=root;Password=myPassword;Host=localhost;Port=3306;Database=myDataBase; Direct=true;Protocol=TCP;Compress=false;Pooling=true;Min Pool Size=0;Max Pool Size=100;Connection Lifetime=0;"/>
    
  </connectionStrings>
  
<startup>
  
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>

</startup>

</configuration>
