<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="EApp" type="EApp.Core.Configuration.EAppConfigurationSection, EApp.Core"/>
  </configSections>
  <EApp>
    
    <application provider="EApp.Core.Application.App, EApp.Core" />

    <objectContainer provider="EApp.Common.IOC.Unity.UnityObjectContainerFactory, EApp.Common" />

    <logger provider=""/>
    
    <windowsMvc>
      
      <controllers>
        
        <controller name="Cost" type="Xpress.Mvc.Controllers.CostController, Xpress.Mvc"/>
        
      </controllers>
      
    </windowsMvc>

    <serializationFormats default="Json">
      
      <format name="XML" type=""/>
      
      <format name="Json" type=""/>
      
    </serializationFormats>

  </EApp>
  
<startup>
  
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>

</startup>

</configuration>
