<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
    <section name="EApp" type="EApp.Core.Configuration.EAppConfigurationSection, EApp.Core"/>

    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    
    <clear />
    
    <add name="SqlServer"
         providerName="EApp.Data.SqlServer.SqlServerDbProvider, EApp.Data"
         connectionString="server=localhost\OSPTTEST;database=EXPRESSLIFE;User ID=sa;Password=3Edcvfr4567ujmnb"/>
    
    <!--<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-Xpress.Life-20141214011050;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->

    <add name="LocalSqlServer" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>

  <EApp>

    <application provider="EApp.Core.Application.App, EApp.Core" />

    <objectContainer provider="EApp.Common.IOC.Unity.UnityObjectContainerFactory, EApp.Common" initFromConfigFile="true" sectionName="unity"/>

    <logger provider=""/>
    
    <serializationFormats default="Json">

      <format name="XML" type="EApp.Common.Serialization.ObjectXmlSerializer, EApp.Common"/>

      <format name="Json" type="EApp.Common.Serialization.ObjectJsonSerializer, EApp.Common"/>

    </serializationFormats>

    <cacheManagers default="Redis">

      <cacheManager name="Redis" type="EApp.Common.Cache.RedisManager, EApp.Common"/>

      <cacheManager name="Memcache" type="EApp.Common.Cache.MemcacheManager, EApp.Common"/>

    </cacheManagers>

    <redis writeHosts="127.0.0.1:6379" readOnlyHosts="127.0.0.1:6379" maxWritePoolSize="60" 
           maxReadPoolSize="60" autoStart="true" timeOutSeconds="3600" >
    </redis>

    <handlers>
      <handler name="PostPublishCommand" type="Xpress.Chat.Commands.PostPublishCommandHandler, Xpress.Chat.Commands" kind="Command"/>
    </handlers>

  </EApp>

  <unity>

    <container>

      <register type="EApp.Core.DomainDriven.Commands.ICommandHandlerProvider, EApp.Core"
                mapTo="EApp.Core.DomainDriven.Commands.ConfigSourceCommandHandlerProvider, EApp.Core">
        <lifetime type="external" />
      </register>

      <register type="EApp.Core.DomainDriven.Commands.ICommandDispatcher, EApp.Core"
                mapTo="EApp.Core.DomainDriven.Commands.CommandDispatcher, EApp.Core" >
        <lifetime type="singleton" />       
      </register>
      
      <register type="EApp.Core.DomainDriven.LightBus.ICommandBus, EApp.Core"
                mapTo="EApp.Core.DomainDriven.LightBus.CommandBus, EApp.Core" >
      </register>

      <register type="Xpress.Chat.ServiceContracts.IPostCommandService, Xpress.Chat.ServiceContracts"
                mapTo="Xpress.Chat.Application.PostCommandService, Xpress.Chat.Application" >
      </register>
      
      <register type="EApp.Core.DomainDriven.Repository.IRepositoryContext, EApp.Core"
                mapTo="EApp.Repositories.SqlServer.SqlServerRepositoryContext, EApp.Repositories.SqlServer">
        <lifetime type="external" />     
      </register>

      <register type="Xpress.Chat.Domain.Repositories.ITopicRepository, Xpress.Chat.Domain"
                mapTo="Xpress.Chat.Repositories.TopicRepository, Xpress.Chat.Repositories" />

      <register type="Xpress.Chat.Domain.Repositories.IUserRepository, Xpress.Chat.Domain"
                mapTo="Xpress.Chat.Repositories.UserRepository, Xpress.Chat.Repositories" />

      <register type="Xpress.Chat.Domain.Repositories.IPostRepository, Xpress.Chat.Domain"
                mapTo="Xpress.Chat.Repositories.PostRepository, Xpress.Chat.Repositories">
        <lifetime type="external" />
      </register>

      <register type="Xpress.Chat.Domain.Repositories.ICommentRepository, Xpress.Chat.Domain"
                mapTo="Xpress.Chat.Repositories.CommentRepository, Xpress.Chat.Repositories" />

      <register type="Xpress.Chat.Domain.Services.IDomainService, Xpress.Chat.Domain"
                mapTo="Xpress.Chat.Domain.Services.DomainService, Xpress.Chat.Domain" />

      <register type="Xpress.Chat.ServiceContracts.IPostService, Xpress.Chat.ServiceContracts"
                mapTo="Xpress.Chat.Application.PostService, Xpress.Chat.Application" />

      <register type="EApp.Core.DomainDriven.Domain.Events.IDomainEventHandler`1[[Xpress.Chat.Domain.Events.PostDomainEvent, Xpress.Chat.Domain]], EApp.Core"
                mapTo="Xpress.Chat.Domain.Events.PostDomainEventHandler, Xpress.Chat.Domain">
      </register>
      
    </container>

    <!--<container name="handler">

      <register type="EApp.Core.DomainDriven.Domain.Events.IDomainEventHandler`1[[Xpress.Chart.Domain.Events.PostDomainEvent, Xpress.Chart.Domain]], EApp.Core"
                mapTo="Xpress.Chat.Domain.Events.PostDomainEventHandler, Xpress.Chart.Domain">
      </register>

      <register type="EApp.Core.DomainDriven.Commands.ICommandHandler`1[[Xpress.Chat.Commands.PostPublishCommand, Xpress.Chat.Commands]], EApp.Core"
                mapTo="Xpress.Chat.Commands.PostPublishCommandHandler, Xpress.Chat.Commands">
      </register>
      
    </container>-->
    
  </unity>

  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>